:root {
  --brand-color: #4d5ae5;
  --shadows-color: #2e2f42;
  --background: #ffffff;
  --cloud: #f4f4fd;
  --background-footer: #2e2f42;
  --color-accent: #e7e9fc;
  --subtle-text: #8e8f99;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: var(--background);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

section {
  width: 100%;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  width: 100%;
  border-bottom: 1px solid var(--color-accent);
  background: var(--background);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container-nav {
  display: flex;
  gap: 40px;
  align-items: center;
}

.container-hed {
  display: flex;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-link {
  color: var(--brand-color);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: 76px;
}

.navigation-item {
  padding: 24px 0;
}

.logo {
  color: var(--shadows-color);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.current {
  position: relative;
}

.current::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  top: 100%;
  transform: translateY(-100%);
  left: 0;
  bottom: -1px;
}

.current .link {
  color: #404bbf;
}

.list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-footer);
}

.focused:hover,
.focused:focus {
  color: #404bbf;
}

.focused {
  padding-top: 24px;
  padding-bottom: 24px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  font-style: normal;
  display: inline;
  margin-left: auto;
}

.address-item {
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation {
  display: flex;
  align-items: center;
}

.address-info {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: currentColor;
  padding: 24px 0;
}

.list-advantages {
  display: flex;
  gap: 24px;
}

.section-heading {
  padding-top: 120px;
  padding-bottom: 120px;
}

.item-advantages {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 48px) / 3);
}

.item-advantages-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
}

.logo-footer {
  color: #f4f4fd;
}

.section-subject {
  margin: auto;
  background-color: var(--background-footer);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bacgraund.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  background-size: cover;
}

.container-subject {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  max-width: 1440px;
  height: 600px;
  margin: 0 auto;
}

.title {
  color: var(--background);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.title-button {
  font-family: 'Roboto', sans-serif;
  color: var(--background);
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: var(--brand-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 23px;
  border-radius: 4px;
  min-width: 169px;
  border: none;
  height: 56px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition-property: background-color, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.title-button:hover,
.title-button:focus {
  background-color: #404bbf;
  color: var(--background);
}

.filter-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  background-color: var(--cloud);
  padding: 12px 24px;
  border: 1px solid var(--color-accent);
  border-radius: 4px;
  transition-property: color, background-color, border, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.button {
  cursor: pointer;
}

.subtitle {
  color: var(--background-footer);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.subtitle-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-headline {
  padding-bottom: 120px;
}

.benefits-list {
  padding-top: 72px;
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.benefits-item {
  width: calc((100% - 48px) / 3);
}

.section-caption {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits {
  color: var(--background-footer);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.title-team {
  color: var(--background-footer);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.employee {
  padding: 32px 0;
}

.title-team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  width: auto;
}

.title-team-list .title-team-item:hover .link-profession {
  background-color: #404bbf;
}

.title-team-list .title-team-item:focus .link-profession {
  background-color: #404bbf;
}

.title-team-item {
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 48px) / 3);
}

.name {
  color: var(--background-footer);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.profession {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.profession-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.link-profession {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--brand-color);
  width: 40px;
  height: 40px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  fill: var(--cloud);
}

.link-upper {
  color: #434455;
}

.subtitle-upper {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 32px;
  margin-bottom: 8px;
}

.mark {
  line-height: 1.5;
}

.mark-text {
  letter-spacing: 0.02em;
}

.text-upper {
  letter-spacing: 0.02em;
}

.section-customers {
  background-color: #ffffff;
  padding-bottom: 120px;
  padding-top: 120px;
}

.title-customers {
  color: var(--background-footer);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.list-customers {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.link-item-customers {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--subtle-text);
  transition-property: border-color, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.item-list-customers {
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--lightslate, #8e8f99);
  display: flex;
  align-content: center;
  justify-content: center;
  width: 168px;
  height: 88px;
}

.link-item-customers:hover {
  border-color: #404bbf;
  color: #404bbf;
}

.link-item-customers:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.item-list-customers:hover .icon-customers,
.item-list-customers:focus .icon-customers {
  fill: #404bbf;
}

.icon-item-list-customers {
  fill: currentColor;
}

.icon-customers {
  fill: #8e8f99;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--background-footer);
  padding: 100px 0;
  display: flex;
  max-height: 312px;
}

.footer-logo {
  color: var(--brand-color);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  padding-top: 0;
  padding-bottom: 17px;
}

.footer-text {
  color: var(--cloud);
  letter-spacing: 0.02em;
  line-height: 1.5;
  width: 264px;
  height: 72px;
}

.cont-footer {
  width: 1158px;
  padding-left: 100px;
  margin: auto;
}

.cont-footer-list {
  display: flex;
  gap: 120px;
  align-items: flex-start;
}

.title-socmed {
  color: var(--background);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 16px;
}

.item-socmed-link {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item-socmed-link:hover,
.item-socmed-link:focus {
  background-color: #31d0aa;
}

.list-socmed {
  display: flex;
  gap: 16px;
}

.section-filter-list {
  display: flex;
  padding-top: 96px;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.section-filter-item {
  padding: 12px 24px;
}

.list-filter {
  display: flex;
  flex-wrap: wrap;
  padding-top: 96px;
  column-gap: 24px;
  row-gap: 48px;
  padding-bottom: 120px;
  margin-bottom: 0;
}

.upper-item {
  width: calc((100% - 48px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.wraper-upper-imges {
  position: relative;
  overflow: hidden;
}

.link-upper-wraper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: var(--brand-color);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-upper:hover .link-upper-wraper {
  transform: translateY(0);
}

.link-upper-text {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 296px;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
}

.upper-item:hover,
.upper-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.product-filt {
  padding: 32px 16px;
  border: 1px solid var(--color-accent);
  border-top: none;
}

.section-filter {
  padding-top: 96px;
  padding-bottom: 120px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  transition: opacity 600ms linear, visibiliti 600ms linear;
}

.modal-window {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 300ms linear;
}

.backdrop.is-hidden .modal-window {
  transform: translate(50%, -50%) scaleX(0);
}

.modal-close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 12px;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  transition-property: border-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.icon-button-modal {
  fill: #2e2f42;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  border-color: #404bbf;
  background-color: #404bbf;
}

.modal-close-button:hover .icon-button-modal,
.modal-close-button:focus .icon-button-modal {
  fill: #ffffff;
}
